html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color: black;
}
*{
	box-sizing:border-box;
}

/*--------------------------------------------------------------------------------------------*\
|         -------------------------------- GLOBAL CSS --------------------------------         |
\*--------------------------------------------------------------------------------------------*/

html{
	font-size: 0.625rem;
	font-family: HPSimplified_Lt;
}
body{
	width: 100%;
}
/*section{background-color: yellow;}*/

								/*------- GLOBAL CLASS -------*/
.wrapper{
	max-width: 1280px;
	margin: 0 auto;
}
.hidden{
	position: absolute;
	left: -10365px;
	height: 0px;
}
.align_center{
	text-align: center;
}
.h2_section{
	font-family: HPSimplified_Bd;
	margin: 80px 0 15px;
	font-size: 3rem;
}
.uppercase{
	text-transform: uppercase;
}
.bold{
	font-weight: bold;
}
.section_baseline{
		font-size: 2rem;
}
.section{
	margin-top: 20px;
}

/*--------------------------------------------------------------------------------------------*\
|         --------------------------------- MAiN CSS ---------------------------------         |
\*--------------------------------------------------------------------------------------------*/

								/*------- SLIDER -------*/
#home {
	overflow: hidden;
}
.swiper-slide{
	height: 100%;

}
.bg1 {
	background: url(../assets/img/bgslider.jpg) no-repeat 0 0;
	background-size: cover;
}

#base_line{
	width: 29%;
	padding: 1%;
	background-color: #000000;
	margin: 23% auto 4% auto;
	font-size: 4.5rem;
	color: #fff;
}
#start{
	width: 14%;
	padding: 1% 10px;
	background-color: #009aa6;
	margin: 0 auto 15.4% auto;
	font-size: 3.6rem;
	border-radius: 10px;
}
#start a{
	color:#fff;
}

								/*------- MAIN NAV -------*/
#main_nav ul li{
	display: inline-block;
	padding: 10px 30px;
	line-height: 2.5rem;
}
#main_nav ul{
	-webkit-box-shadow: 0 3px 2px 2px #919191;
	box-shadow: 0 3px 2px 2px #919191;
	text-align: center;
	font-size: 3rem;
}
#main_nav #logo img{
	width: 75%;
	height: 75%;
}
								/*------- SERVICES -------*/

#service section{
	padding: 10px;
	background:url(../assets/img/service-bg.png) no-repeat 100% 100%;
}
#service ul{
	position: relative;
	max-width: 50%;
	padding: 0 5% 0 0;
	line-height: 3rem;
}
#service ul li{
	margin-top: 30px;
}
#service ul li img{
	width: 7%;
	height: 7%;
	margin:  1% 0 3% 3%;
}
#service ul li div{
	position: absolute;
	right: 5%;
	max-width: 84%;
}
#service ul li div p{
	font-size: 1.5rem;
}
#service ul li img,#service ul li div{
	display: inline-block;
}
#service ul h2{
	font-size: 1.5rem
}
#service p:first-of-type{
	margin-bottom: 20px;
}
								/*------- PORTFOLIO -------*/
#portfolio ul li{
	display: inline-block;
}	
#portfolio ul:first-of-type li {
	font-size: 1.7rem;
	margin: 15px;

}
#portfolio ul:first-of-type a{
		padding: 6px 7px 7px 8px;
}
#portfolio ul:first-of-type a:hover, 
#portfolio ul:first-of-type a:focus{
	border-radius: 6px;
	color: white;
	background-color: #009aa6;

}	
#portfolio ul:last-of-type li{
	width: 33%;
	padding: 0 10px;
}
#portfolio ul:last-of-type li{
	text-align: center;
	font-size: 1.4rem;
	line-height: 2rem;
}							
								/*------- CLIENTS -------*/
#clients {
	overflow: hidden;
	background-color: blue;
}
#clients p, #clients h3{
	text-align: center;
}
#clients #clients_list li{
	text-align: center;
	display: inline-block;
}
