html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color: black;
}
*{
	box-sizing:border-box;
}

/*--------------------------------------------------------------------------------------------*\
|         -------------------------------- GLOBAL CSS --------------------------------         |
\*--------------------------------------------------------------------------------------------*/

html{
	font-size: 0.625rem;
	font-family: HPSimplified_Lt;
}
body{
	width: 100%;
}
/*section{background-color: yellow;}*/

								/*------- GLOBAL CLASS -------*/
.wrapper{
	max-width: 1280px;
	margin: 0 auto;
}
.hidden{
	position: absolute;
	left: -10365px;
	height: 0px;
}
.align_center{
	text-align: center;
}
.h2_section{
	font-family: HPSimplified_Bd;
	margin-bottom: 15px;
	font-size: 3rem;
}
.uppercase{
	text-transform: uppercase;
}
.bold{
	font-weight: bold;
}
.section_baseline{
	font-size: 2rem;
}
.section{
	margin-top: 20px;
}
.fixNavigation
{ 
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%; 
	background-color: rgba(255,255,255, 1);
}

/*--------------------------------------------------------------------------------------------*\
|         --------------------------------- MAiN CSS ---------------------------------         |
\*--------------------------------------------------------------------------------------------*/

								/*------- SLIDER -------*/
#home {
	height: 100%;
	overflow: hidden;
	position: relative;
}

.bg1 {
	background: url(../assets/img/bgslider.jpg) no-repeat 0 0;
	background-size: cover;
}

#base_line{
	background-color: #000000;
	margin: 23% 30% 4% 30%;
	font-size: 4.5rem;
	color: #fff;
}
#start{
	padding: 1% 10px;
	background-color: #009aa6;
	margin: 0 35% 15.4% 35%;
	font-size: 3.6rem;
	border-radius: 10px;
}
#start a{
	color:#fff;
}

								/*------- MAIN NAV -------*/
#navigation{
	box-shadow: 0 2px 3px 2px rgba(145,145,145, 0.8); 
}
#main_nav ul li{
	display: inline-block;
	padding: 10px 30px;
	line-height: 2.5rem;
	vertical-align: middle;
}

#main_nav ul{
	padding: 13px 0;
	text-align: center;
	font-size: 3rem;
}
.nav_link_color a{
	color: #009aa6;
}

								/*------- SERVICES -------*/
#service {
	padding-top: 154px;
}

#service section{
	padding: 10px;
	background:url(../assets/img/service-bg.png) no-repeat 100% 100%;
}
#service ul{
	position: relative;
	max-width: 50%;
	padding: 0 5% 0 0;
	line-height: 3rem;
}
#service ul li{
	margin-top: 30px;
}
#service ul li img{
	width: 7%;
	height: 7%;
	margin:  1% 0 3% 3%;
}
#service ul li div{
	position: absolute;
	right: 5%;
	max-width: 84%;
}
#service ul li div p{
	font-size: 1.5rem;
}
#service ul li img, #service ul li div{
	display: inline-block;
}
#service ul h2{
	font-size: 1.5rem
}
#service p:first-of-type{
	margin-bottom: 20px;
}
								/*------- PORTFOLIO -------*/
#portfolio{
	padding-top: 164px;
}
#portfolio ul li{
	display: inline-block;
}	
#portfolio ul:first-of-type li {
	font-size: 1.7rem;
	margin: 15px;

}
#portfolio ul:first-of-type p{
	padding: 6px 7px 7px 8px;
}
#portfolio ul:first-of-type p:hover, 
#portfolio ul:first-of-type p:focus{
	border-radius: 6px;

	cursor: pointer;
	color: white;
	background-color: #009aa6;

}	
#portfolio ul:last-of-type li{
	width: 33%;
	padding: 0 10px;
}
#portfolio ul:last-of-type li{
	text-align: center;
	font-size: 1.4rem;
	line-height: 2rem;
}
#Container .mix{
	display: none;
}
								/*------- CLIENTS -------*/
.bg2 {
	background-image: url(../assets/img/pictoClient.png) ,url(../assets/img/bgclient.jpg) ;
	background-position: 50% 100px, 0 0 ;
	background-repeat: no-repeat;
	background-size: 4%, cover;
}
#clients {
	padding-top: 104px;
	width: 100%;
	overflow: hidden;
}
#clients p, #clients h3{
	line-height: 2;
	text-align: center;
	color: #ffffff;
}
#clients h3 {
	font-size: 1.7rem;
} 
#clients p {
	font-size: 1.7rem;
	margin-bottom: 30px;
}
#clients p:first-of-type {
	font-size: 3rem;
	font-family: HPSimplified_Ltit;
	display: block;
	width: 70%;
	margin: 210px auto 0 auto;
}

#clients #clients_list{
	background-color: #009aa6;
	text-align: center;
}
#clients #clients_list li{
	display: inline-block;
	padding: 20px 30px; 
	vertical-align: middle;

}
#clients .picture {
	border-radius: 100%;
	margin :30px 46.5% 10px 46.5%;
}

								/*------- TEAM -------*/
#team{
	padding-top: 154px;
	overflow: hidden;
}
#team .picture {
	border-radius: 100%;
}

#team .member {
	padding: 4%;
	text-align: center;
}
#team ul .member{
	display: inline-block;
	width: 33.33%;
}
#team p, #team h3 {
	line-height: 2;
	font-size: 2rem;
}
#team .member_infos{
	font-size: 1.3rem ;
	display: inline-block;
	width: 80%;
}

								/*------- CONTACT -------*/
#contact{
	padding-top: 104px;
	width: 100%;
}
#contact section {
	display: inline-block;
	width: 50%;
}
#contact #infos {
	padding: 70px 0 0 8%;
}
#contact h2 {
	color: #ffffff;
	line-height: 25rem;
	background : url(../assets/img/bgtitle-footer.png) no-repeat 0 0;
	background-size: cover;
}
.infos{
	font-size: 2rem; 
}
.hours{
	display: block;
}
#contact_info li {
	margin: 10px 0;
}
#contact_info img, #contact_info h3, #contact_info p{
	display: inline-block;
}
#contact_info img {
	vertical-align: top;
	width :2%;
	margin: 0 3%;
}
#contact_info h3 {
	vertical-align: top;
	width: 15%;
}
#contact_info p{ 
	font-size: 1.3rem;
	line-height: 1.7rem;
}
#social_network {
	width: 70%;
	margin-top:40px;
	text-align: center;
}
#social_network li{
	margin: 10px;
	display: inline-block;
}
#inscription_form{
	margin-top: 60px;
	vertical-align: top;
}
#form input{
	margin: 20px 0;
	padding: 10px;
	display: block;
	width: 75%;
}
#form input:last-of-type {
	width:30%;
	background-color: #009aa6;
	outline: none;
	padding: 5px;
	border-radius: 2px;
	border:none;
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 1px;
}
#form textarea {
	padding: 10px;
	width: 75%;
	resize:none;
}
								/*------- FOOTER -------*/
#main_footer {
	margin-top: 100px;
	background-color: #000000;
	color:#ffffff;
	padding: 60px;
	text-align: center;
	font-size: 2rem;
	line-height: 3rem; 
}


/*--------------------------------------------------------------------------------------------*\
|         --------------------------------- MAiN CSS ---------------------------------         |
\*--------------------------------------------------------------------------------------------*/

@media (max-width: 1279px) {
	#team ul .member{
		width: 50%;
	}
	#portfolio ul:last-of-type li{
		width: 50%;
		padding: 0 10px;
	}
	#service ul{
		line-height: 2rem;
	}
	#service section{
		background-size:50%;
	}
}
@media (max-width: 1023px) {
	#team ul .member{
		width: 100%;
	}
	#portfolio ul:last-of-type li{
		width: 100%;
		padding: 0 10px;
	}
	#service ul{
		line-height: 1.5rem;
	}
	#main_nav ul li{
		padding: 10px 15px;
	}
	#main_nav ul{
		padding: 13px 0;
		text-align: center;
		font-size: 2rem;
	}

}
@media (max-width: 767px) {
}
